/* Font-family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    /* Paleta de cores */
    --azul: #3498db;
    --verde: #2ecc71;
    --amarelo: #f39c12;
    --cinza: #c8dcdd;
    --cinza2: #a9a9a9;
    --branco: #fff;
    --branco2: #f5f5f5;
    --preto: #1d1b20;

    /*Grid layout*/
    --main-radius: 5px;
    --main-padding: 10px;

    /* Tema */
    background: var(--bg);
    color: var(--fontColor)
}

* {
    font-family: 'MontSerrat', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    transition: .2s linear;
}

::selection {
    color: var(--branco);
    background-color: var(--amarelo);
}

/* Início Header */
    header {
        max-height: 85px;
        background: var(--bg);
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        padding-inline: 16px;
        margin-bottom: 8px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 0.5rem 0.5rem var(--preto);
    }

    /* Menu Hamburger */
    .nav {
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    .nav-list a {
        font-size: 18px;
        color: var(--azul);
        padding-block: 16px;
        font-weight: bold;
    }

    .nav-list a:hover {
        color: var(--verde);
    }

    .hamburger {
        display: none;
        background: none;
        border: none;
        border-top: 3px solid var(--azul);
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: var(--azul);
        margin: none;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
    }
    /* Fim Menu Hamburger */

    .icones a {
        font-size: 40px;
        color: var(--azul);
        padding-block: 16px;
    }

    .icones a:hover {
        color: var(--verde);
    }

/* Fim Header */

/* Início Tema: Light ou Dark */
    .btn-tema {
        color: var(--amarelo);
        background-color: transparent;
        border-radius: 50%;
        border: none;
    }

    .btn-tema p {
        font-size: 35px;
    }

    .btn-tema:hover {
        cursor: pointer;
    }

    .btn-tema:focus {
        outline-style: none;
    }

    .light-theme {
        --bg: var(--branco2);
        --fontColor: var(--preto);
    }

    .light-theme #light {
        display: none;
    }

    .dark-theme {
        --bg: var(--preto);
        --fontColor: var(--cinza);
        --btnColor: var(--cinza);
    }

    .dark-theme #dark {
        display: none;
    }

    .dark-theme #light {
        display: block;
    }
/* Fim tema: Light ou Dark */

#topo {
    background: var(--branco);
    height: 95px;
}

/* Inicio Main */

    #sidebar {
        margin: 1.5px;
        background: var(--bg);
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        position: static;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--cinza2);
    }

    #sidebar-list {
        width: 60%;
        margin-top: 20%;
    }

    #side-list {
        list-style: none;
        margin: 1.5px;
    }

    #side-list a {
        font-size: 18px;
        color: var(--verde);
        text-decoration: underline;
    }

    #side-list a:hover {
        color: var(--azul);
    }

    /* Inicio Barra de pesquisa */
        .search {
            background: var(--branco);
            width: 20%;
            border-radius: 15px;
            position: absolute;
            box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
        }

        .search input {
            height: 45px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 15px;
            padding: 0 60px 0 20px;
            font-size: 18px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
          }

        .search.active input{
            border-radius: 15px 15px 0 0;
        }

        .search .list{
            padding: 0;
            opacity: 0;
            pointer-events: none;
            max-height: 280px;
            overflow-y: auto;
        }

        .search.active .list{
            padding: 10px 8px;
            opacity: 1;
            pointer-events: auto;
        }

        .search .list li{
            list-style: none;
            padding: 8px 12px;
            display: none;
            width: 100%;
            cursor: default;
            border-radius: 3px;
        }
          
        .search.active .list li{
            display: block;
        }

        .list li:hover{
            background: #efefef;
        }

        .search .btn-search {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 55px;
            color: var(--azul);
            background-color: var(--verde);
            cursor: pointer;
            border-radius: 0px 15px 15px 0px;
        }

        .search.active .btn-search{
            border-radius: 0 15px 0 0;
        }

        #icon-search {
            font-size: 35px;
            margin-top: 5px;
            font-weight: bold;
        }
    /* Fim Barra de pesquisa */

    /* Inicio Carrossel */
        #carrossel {
            margin: 1.5px;
            background: var(--bg);
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            height: 50vh;
            box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--cinza2);
        }

        section.slider {
            width: 100%;
            height: auto;
            padding: 0 !important;
            overflow: hidden;
        }

        .slider-content {
            width: 400%;
            height: auto;
            display: flex;
        }

        .slider-content input, .img-mobile {
            display: none;
         }

         .slide-box {
            width: 25%;
            height: auto;
            position: relative;
            text-align: center;
            transition: 1s;
        }

        .slide-box img {
            width: 100%;
            border-radius: 2%;
        }

        .nav-manual, .nav-auto {
            position: absolute;
            margin-left: 34.5%;
            margin-top: 21.5%;
            display: flex;
            justify-content: center;
        }

        .nav-manual .manual-btn, .nav-auto div{
            border: 2px solid var(--amarelo);
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s;
        }

        .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
            margin-right: 10px;
        }

        .nav-manual .manual-btn:hover {
            background-color: var(--amarelo);
        }

        #radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked~.nav-auto .auto-btn3 {
            background-color: var(--amarelo);
        }

        #radio1:checked ~ .primeiro {
            margin-left: 0%;
        }
        
        #radio2:checked ~ .primeiro {
            margin-left: -25%;
        }
        
        #radio3:checked ~ .primeiro {
            margin-left: -50%;
        }
    /* Fim Carrossel */
    
    /* Início Produtos */
        #secprodutos {
            height: 60vh;
            padding: 0 !important;
            overflow: hidden;
            background: var(--bg);
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            margin: 1.5px;
            box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--cinza2);
        }
    
        #secprodutos h1 {
            font-size: 25px;
            margin-top: 1%;
            margin-left: 2%;
            color: var(--azul);
        }

        .produtos-contents {
            width: 200%;
            height: auto;
            display: flex;
            margin-left: 3%;
            transition: 1s;
        }

        #radio-left, #radio-right {
            display: none;
        }
        
        #radio-right:checked ~ .produtos-contents{
            margin-left: -60%;
        }

        #radio-left:checked ~ .produtos-contents{
            margin-left: 3%;
        }

        #btn-right, #btn-left {
            background-color: transparent;
            border-radius: 50%;
            border: none;
            z-index: 1000;
            cursor: pointer;
        }
        
        #btn-right span, #btn-left span {
            font-size: 50px;
            color: var(--amarelo);
        }

        #btn-left {
            position: relative;
            top: 45%; left: 0;
        }

        #btn-right {
            position: relative;
            top: 45%; left: 90%;
        }

        .content {
            margin: 3px;
            background: var(--branco);
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            height: 250px;
            width: 250px;
            box-shadow: 0 0.5rem 0.5rem var(--preto);
            position: relative;
            text-align: center;
        }

        .content img {
            margin-left: 8px;
            margin-right: 8px;
        }

        .desconto {
            position: absolute;
            top: 1px; left: 1px;
        }

        .content .fav {
            position: absolute;
            top: 1px; right: 1px;
            font-size: 30px;
            color:var(--azul);
        }

        .content .fav:hover {
            cursor: pointer;
            color: var(--verde);
        }

        .descricao {
            font-size: 12px;
            color: var(--azul);
        }

        .preco {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: var(--verde);
            font-weight: bolder;
        }

        .preco span {
            font-size: 12px;
            color: var(--azul);
            font-weight: lighter;
            text-decoration: line-through;
        }

        .adicionar {
            height: 40px;
            position:absolute;
            bottom: -5rem; left: 0; right: 0;
            display:  none;
        }

        .content:hover .adicionar {
            bottom: 0;
            display: flex;
        }

        .adicionar input {
            text-align: center;
            font-size: 18px;
            width: 50%;
            color: var(--azul);
        }

        .adicionar .comprar {
            font-size: 16px;
            font-weight: bold;
            width: 50%;
            background: var(--azul);
            color: var(--amarelo);
            cursor: pointer;
            border-radius: 10px;
        }

    /*Fim Produtos*/

    #sobre {
        background: var(--bg);
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        height: 50vh;
        text-align: justify;
        margin: 1.5px;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--cinza2);
    }

    #sobre h1 {
        font-size: 20px;
        color: var(--azul);
        font-weight: bold;
        margin: 5px 5px 5px 20px;
    }
    
    #sobre h6 {
        margin-left: 2%;
        color: var(--fontColor);
    }

    #sobre p {
        margin: 15px;
        color: var(--fontColor);
    }

    #sobre .payments{
        margin: 5px 5px 5px 20px;
    }


/* Fim Main */


/* Início Chatbot */
    .chatbot-toggler {
        position: fixed;
        bottom: 30px;
        right: 35px;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--verde);
        transition: all 0.2s ease;
    }

    .show-chatbot .chatbot-toggler {
        transform: rotate(90deg);
    }

    .chatbot-toggler span {
        color: var(--branco);
        position: absolute;
        font-size: 35px;
    }

    .chatbot-toggler span:last-child,
    .show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
    }
    .show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
    }

    .chatbot {
        position: fixed;
        right: 35px;
        bottom: 90px;
        width: 420px;
        height: 420px;
        background: var(--branco);
        border-radius: 15px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.5);
        transform-origin: bottom right;
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                    0 32px 64px -48px rgba(0,0,0,0.5);
        transition: all 0.1s ease;

    }

    .show-chatbot .chatbot {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }

    .chatbot .topo {
        padding: 16px 0;
        position: relative;
        text-align: center;
        color: var(--branco);
        background: var(--azul);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .chatbot .topo span {
        position: absolute;
        right: 15px;
        top: 50%;
        display: none;
        cursor: pointer;
        transform: translateY(-50%);
    }

    .topo h2 {
        font-size: 1.4rem;
    }

    .chatbot .chatbox {
        overflow-y: auto;
        height: 510px;
        padding: 30px 20px 100px;
    }

    .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
        width: 6px;
    }

    .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
        background: var(--branco);
        border-radius: 25px;
    }

    .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
        background: var(--cinza);
        border-radius: 25px;
    }

    .chatbox .chat {
        display: flex;
        list-style: none;
    }

    .chatbox .outgoing {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .chatbox .incoming span {
        width: 32px;
        height: 32px;
        color: var(--branco);
        cursor: default;
        text-align: center;
        line-height: 32px;
        align-self: flex-end;
        background: var(--azul);
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    .chatbox .chat p {
        white-space: pre-wrap;
        padding: 12px 16px;
        border-radius: 10px 10px 0 10px;
        max-width: 75%;
        color: var(--branco);
        font-size: 0.95rem;
        background: var(--azul);
    }

    .chatbox .incoming p {
        border-radius: 10px 10px 10px 0;
    }

    .chatbox .chat p.error {
        color: #721c24;
        background: #f8d7da;
    }

    .chatbox .incoming p {
        color: var(--preto);
        background: var(--cinza);
    }

    .chatbot .chat-input {
        display: flex;
        gap: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: var(--branco);
        padding: 3px 20px;
        border-top: 1px solid var(--cinza);
    }

    .chat-input textarea {
        height: 55px;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        max-height: 180px;
        padding: 15px 15px 15px 0;
        font-size: 0.95rem;
    }

    .chat-input span {
        align-self: flex-end;
        color: var(--azul);
        cursor: pointer;
        height: 55px;
        display: flex;
        align-items: center;
        visibility: hidden;
        font-size: 35px;
    }

    .chat-input textarea:valid ~ span {
        visibility: visible;
    }
/* Fim ChatBot */

footer {
    background: var(--bg);
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline;
    color: var(--fontColor);
}

/* Estilo base para as colunas */
    [class*="col-"] {
        box-sizing: border-box;
        float: left;
    }

    /* Larguras das colunas para dispositivos desktop */
    .col-1 {width: 5%;}
    .col-2 {width: 10%;}
    .col-3 {width: 15%;}
    .col-4 {width: 20%;}
    .col-5 {width: 25%;}
    .col-6 {width: 30%;}
    .col-7 {width: 35%;}
    .col-8 {width: 40%;}
    .col-9 {width: 45%;}
    .col-10 {width: 50%;}
    .col-11 {width: 55%;}
    .col-12 {width: 60%;}
    .col-13 {width: 65%;}
    .col-14 {width: 70%;}
    .col-15c {width: 74.5%}
    .col-15 {width: 75%;}
    .col-16 {width: 80%;}
    .col-17 {width: 85%;}
    .col-18 {width: 90%;}
    .col-19 {width: 95%;}
    .col-20 {width: 99.9%;}

    /* Limpar a flutuação (clearfix) para evitar problemas de layout */
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

/* Fim Colunas */


/* Media Queries*/
@media only screen and (max-width: 575px) {

    /* Menu de navegação */
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--branco);
        clip-path: circle(100px at 90% -15%);
        opacity: 0.8;
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
        transition: 0.5s 0.2s;
    }

    /* Estilos ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    /* Fim Menu de navegação */
}




/* Alterar a largura para 100% em dispositivos móveis */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        margin: 3px;
    }

    #main {
        display: table;
    }
}
